<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >ICE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/clientes">Clientes</a></li>
      <li class="nav-item"><a class="nav-link" href="/ingreso_pagos">Ingreso Pagos</a></li>
      <li class="nav-item"><a class="nav-link" href="/ingreso_Cobros">Ingreso Cobros</a></li>
      <li class="nav-item"><a class="nav-link" href="/consulta_pagos">Consulta Pagos</a></li>
      <li class="nav-item"><a class="nav-link" href="/consulta_pagos_i2">Consulta Pagos Intervalos</a></li>
      <li class="nav-item"><a class="nav-link" href="/consulta_cliente">Consulta de clientes</a></li>
      </ul>
    </form>
  </div>
</nav>
