{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Algoritmo Genetico M c 2</h1>
    <p class="lead">
       201503393  Jose Daniel De Leon
       201504303  Jorge Daniel Monterroso
    </p>
    
    <div>
      <form action="entrenar" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Seleccione un archivo de notas</label>
          <input type="file" name="archivo" class="form-control" value={{request.form.archivo}}>
        </div>
        <div class="form-group">
          <label>Seleccione criterio de finalizacion</label>
          <select id="fin" name="fin">
              <option value="1">Primer fitnes en cumplir criterio</option>
              <option value="2">Generacion Maxima</option>
              <option value="3">Fitnes Promedio</option>
          </select>
   
        </div>
        <div class="form-group">
          <label>Seleccion padres</label>
          <select id="padre" name="padre">
            <option value="1">Mejores padres</option>
            <option value="2">Elegidos al azar</option>
            <option value="3">Los mejores padres tienen mas posibilidad de ser elegidos</option>
        </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
